@import '../globals/vars';

.v-card-loading {
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
    height: 100%;
    width: 100%;
    padding: 50px 20px 20px 20px;
    z-index: 3;
    border: 1px solid #f2f2f2;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__icon {
    animation-name: rotation;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
  }

  &__text {
    text-align: center;
  }
}

@media screen and (max-width: $offset-tablet) {
  .v-card-loading {
    &__icon {
      width: 25px;
    }

    &__text {
      font-size: 15px !important;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
