.pac-container {
  height: 203px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: unset !important;
}

.pac-icon {
  display: none;
}

.pac-item {
  height: 40px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  cursor: pointer;
}

.pac-item:hover {
  background-color: #f5f7fa;
}

.pac-item-query {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 500;
}

.pac-matched {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 600;
}
