.v-tooltip {
  &__container {
    position: relative;
    display: inline-block;
    justify-content: center;
  }

  &__box {
    display: inline-block;
    justify-content: center;
  }

  &__label {
    --scale: 0;
    --arrow-size: 8px;
    position: absolute;
    background-color: var(--bgColor);
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 5px;
    width: max-content;
    max-width: 270px;
    word-break: break-word;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    z-index: 100;
    line-height: 1.5;

    &--top {
      top: -20px;
      left: 50%;
      transform: translateX(-50%) translateY(-100%) scale(var(--scale));
      transform-origin: bottom center;
      transition: 0.2s transform;

      &::before {
        content: '';
        border: var(--arrow-size) solid transparent;
        border-top-color: var(--bgColor);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--bottom {
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%) translateY(100%) scale(var(--scale));
      transform-origin: top center;
      transition: 0.2s transform;

      &::before {
        content: '';
        border: var(--arrow-size) solid transparent;
        border-bottom-color: var(--bgColor);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--left {
      top: 50%;
      right: var(--tooltipContentWidth);
      transform: translateY(-50%) scale(var(--scale));
      transform-origin: bottom center;
      transition: 0.2s transform;

      &::before {
        content: '';
        border: var(--arrow-size) solid transparent;
        border-left-color: var(--bgColor);
        position: absolute;
        top: 50%;
        right: -16px;
        transform: translateY(-50%);
      }
    }

    &--right {
      top: 50%;
      left: var(--tooltipContentWidth);
      transform: translateY(-50%) scale(var(--scale));
      transform-origin: bottom center;
      transition: 0.2s transform;

      &::before {
        content: '';
        border: var(--arrow-size) solid transparent;
        border-right-color: var(--bgColor);
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
      }
    }
  }

  &__box:hover + &__label--top,
  &__box:hover + &__label--bottom,
  &__box:hover + &__label--left,
  &__box:hover + &__label--right {
    --scale: 1;
  }
}
