$font: (
  ('ExtraBold', 700),
  ('Bold', 600),
  ('Regular', 500)
);

@each $name, $weight in $font {
  $url: '../fonts/Kaleko205Round/Kaleko205Round-' + $name;
  @font-face {
    font-family: 'Kaleko205Round';
    src: url($url + '.ttf') format('truetype');
    font-style: normal;
    font-weight: $weight;
    font-display: swap;
  }
}
