.home {
  &__category {
    display: block;
    position: relative;
    margin-bottom: 16px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 176px;
      height: 176px;
      border-radius: 26px;
      background: #252525;
      opacity: 0.3;
    }

    img {
      min-height: 176px;
      height: 176px;
      width: 100%;
      background-size: cover;
      object-fit: cover;
      background-position: center;
      border-radius: 26px;

      &.isLoading {
        background-image: url('/default.jpg');
      }
    }

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 28px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 500;
      color: var(--color-white);
      text-align: center;
    }
  }
}
