.v-input {
  height: 62px;

  &__input {
    height: 40px;
    width: 100%;
    border-radius: 32px;
    background-color: #f3f3f3;
    font-size: 14px;
    color: #423c3c;
    line-height: 1;
    border: none;
    padding: 0 16px;
    margin-bottom: 4px;
    transition: all 0.2s;

    &:focus {
      outline: 1px solid var(--color-red);
    }

    &.error {
      outline: 1px solid var(--color-red-2);
    }
  }

  &__error {
    font-size: 14px;
    color: var(--color-red-2);
  }
}
