@import '../globals/vars';

.layout {
  &__wrapper {
    max-width: $device-max-width;
    margin: 0 auto;
  }

  &__logo {
    border-radius: 50%;
    height: 82px;
    width: 82px;
  }

  &__body {
    min-height: calc(100vh - 118px);
  }
}
